  <div class="title-user">
    <h2>Listado de Usuarios</h2>
  </div>
  

<mat-form-field  color="warn" style="margin-left: 20px;">
    <mat-label  color="warn">Buscar Usuarios</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource"  matSort>
  
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sitio Web </th>
        <td mat-cell *matCellDef="let element"> {{element.website}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Compania </th>
        <td mat-cell *matCellDef="let element"> {{element.company.name}}  </td>
      </ng-container>
      <ng-container matColumnDef="companyCatch">
        <th mat-header-cell *matHeaderCellDef> Eslogan </th>
        <td mat-cell *matCellDef="let element"> {{element.company.catchPhrase}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
          <a mat-raised-button  [routerLink]="['/users',element.id,'posts']" >Posteos</a>
          <a  mat-raised-button  [routerLink]="['/users',element.id,'albums']">Albumes</a>  
     

        </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  
  </div>
  