.example-card {
  max-width: 200px;
  min-height: 200px;
  max-height: 220px;
  margin-left: 40px;
}

.mat-raised-button {
  background-color: rgba(232, 195, 158, 0.9);
}

.mat-card-actions {
  margin: 0 auto;
}
.example-header-image {
  background-image: url("https://illustoon.com/photo/2552.png");
  background-size: cover;
}
