.spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  width: 100%;
  background: #f44336;
}
a {
  color: white;
}

@media (max-width: 468px) {
  .mat-toolbar {
    width: 100%;
    background: none;
  }
  a {
    color: #f44336;
  }
}

span {
  cursor: pointer;
}

span:hover {
  font-weight: bold;
}
