.example-card {
  max-width: 300px;
  min-height: 230px;
  margin-left: 20px;
}

.mat-raised-button {
  background-color: rgba(232, 195, 158, 0.9);
}

.example-header-image {
  background-image: url("https://illustoon.com/photo/2552.png");
  background-size: cover;
}
